<div id="Body_Background">
<header>
  <div id="Header_Background">
	<img id="Logo" src="https://git-scm.com/images/logos/downloads/Git-Logo-Black.png" alt="Dmitriy Kanunnikov" height="99" width="237">
  <ul id="Menu_Tab">
    <li>Home</li>
    <li>Portfolio</li>
    <li>About Me</li>
    <li>Contact Me</li>
  </ul>    
  </div>
</header>

<main>
  <h4 class="Text">Hello, my name is Dmitriy Kanunnikov, and this is my very first fully finished web application. The reason I decided to start learning programming languages is that I wanted to check myself and see how much time I need to became fluent in it. Please check my portfolio, and leave comments if you want.</h4>
  <div id="View_My_Work">
    <h3><b>V i e w  &nbsp;&nbsp;m y  &nbsp;&nbsp;W o r k</b></h3>
  </div>
  
</main>

<footer>
  
  <table id="Footer_Table">
  <tr>
    <th><u>Projects</u></th>
    <th><u>Events</u></th>
    <th><u>Friends</u></th>
    <th><a href="https://www.facebook.com/"><img src="http://www.everactive.org/uploads/files/Images/graphics/facebook-white.png" alt="Facebook" height="30" width="30"></a> &nbsp;&nbsp;&nbsp;<a href="https://twitter.com/"><img src="http://www.soilsolutions.com.au/images/twitter-circle-white.png" alt="Twitter" height="30" width="30"></a> &nbsp;&nbsp;<a href="https://www.linkedin.com/"><img src="http://www.varunagw.com/wp-content/uploads/2013/05/linkedin-2561.png" alt="LinkedIn" height="30" width="30"></a> </th>
  </tr>
  <tr>
    <td>Game is not all</td>
    <td>Let's help them</td> 
    <td>George Bush</td>
  </tr>
    <tr>
    <td>China - best people</td>
    <td>In the name of poverty</td> 
    <td>Bill Clinton</td>
  </tr>
    <tr>
    <td>You never know</td>
    <td>The flag - Bad flag</td> 
    <td>Barack Obama</td>
  </tr>
</table>
   
</footer>
</div>
